body 
  margin 0
  padding 20px 0
  width 100%
  background-color aliceblue
  overflow: hidden
  font-family mono

#container
  display flex
  flex-direction row
  justify-content center

#transport 
  display flex
  flex-direction row
  justify-content space-between
  height 50px
  // border 1px dotted grey
  width 600px
  margin 20px 0

#mixer 
  // border 1px dotted grey
  margin-top 5px
  display flex
  flex-direction row
  width 600px

  >span
    font-size 0.75rem

  input[type='range']
    margin 0 10px
    flex-grow 1

video
  display block

video::-webkit-media-controls-volume-slider 
  display none

video::-webkit-media-controls-mute-button
  display none

video::media-controls-volume-slider 
  display none

video::media-controls-mute-button
  display none