body 
  margin 0
  padding 0
  width 100%
  background-color aliceblue
  overflow: hidden

#transport 
  font-family mono
  size 20px

#app
  width 100%
  min-height 100vh
  height auto

  svg
    width 100%
    height 100vh

#tweakable
  width 70%
  height 100vh

#hitareas
  z-index 100
  position absolute
  width 100vw
  height 100vh
  top 0px
  left 0px
  
  .hitarea
    position absolute
    background-color rgba(255, 0, 0, 0.3)
    // padding 4px
    // margin -4px 0 0 -4px
    // border-radius 4px
